@mixin styleText($fs,$fw,$color) {
    font-size: $fs;
    font-weight: $fw;
    color: $color;

}
@mixin styleButton($bg,$pd-y,$pd-x,$bd,$radius) {
    background-color:$bg ;
    padding:$pd-y $pd-x ;
    border:$bd ;
    border-radius:$radius ;
}