.about-carousel{
    width: 100%;
    padding: 50px 0 40px;
    position: relative;
    .img-top {
        position: absolute;
        left: 0;
        top:0;
        img{
        width: 99%;
        height: auto;
        display: block;
        }
    }
    .img-bottom{
        position: absolute;
        left: 0;
        bottom: 0;
        img{
            width: 100%;
            height: auto;
            display: block;
        }
    }
    .container-fluid{
        width: 100%;
        padding: 0 29px;
        top: 21px;
        z-index: 3;
        .content{
            max-width: 1210px;
            padding: 16px 0;
            display: flex;
            justify-content: center;
            margin: 0 auto;
        }
    }
   
}
.content-carousel{
    padding: 17% 0 15% 0 ;
    .title-s{
        @include styleText($fs-5,$fw-6,$color-pink-1)
    }
    .title-l{
        @include styleText($fs-6,$fw-7,$color-black)
    }
}
.img-carousel{
    img{    
        display: block;
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;    
    }
}
@include responsive("extra-large") {
    .about-carousel{
        padding: 0;
        .content{
            padding: 0;
        }
    }
   
    .content-carousel{
        padding: 19% 0 25% 0 ;
        .title-l{
            font-size: 3.5rem ;
        }
        .title-s{
            font-size: 1.1rem ;
        }
    }
    .img-carousel{
        padding-top: 4%;
    }
} 
@include responsive("large") {
    .content-carousel{
        padding: 10% 0;
        .title-l{
            font-size: 3.15rem ;
        }
    }
    .img-carousel{
        padding-bottom: 10%;
    }
    .img-bottom{
        img{
            // transform: translateY(1331px);
        }
    }
}
@include responsive("medium") {
    .content-carousel{
        padding: 20% 0;
        .title-l{
            font-size: 3.15rem ;
        }
    }
    .img-carousel{
        padding-bottom: 30%;
    }
    .img-bottom{
        img{
            // transform: translateY(668px);
        }
    }
}
@include responsive("small") {
    .content-carousel{
        padding: 30% 0;
        .title-l{
            font-size: 3.15rem ;
        }
    }
    .img-carousel{
        padding-bottom: 50%;
    }
    .img-bottom{
        img{
            // transform: translateY(372px);
        }
    }

}  