footer{
    height: auto;
    background-image: url(../image/footer_background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center ;
    .footer-width{
        max-width: 1240px;
        margin: 0 auto;
    }
    .row{
        padding: 130px 0 200px;
    }
    .title-footer{
        
        line-height: 1.2;
        h5{
            @include styleText($fs-5 +0.4,$fw-7,$color-white);
            padding: 24px 0;
        }        
    }
}
.content-footer{
    div{
        padding: 3px 0;
        @include styleText($fs-1,$fw-5,$color-white);
        i{
            padding-right: 6px;
        }
    }
}
.icon-footer{
    padding: 16px 0;
    margin-right: 18px;
    a {
        @include styleText($fs-2,$fw-1,$color-white);
        text-decoration: none;
        padding-top: 4px;
        margin-right: 11px;
        transition: all 0.4s;
        &:hover {
            color: $color-black;             
        }
    }
}
.footer-link{
    a{  width: 29%;
        display: block;
        @include styleText($fs-1 +1 ,$fw-4,$color-white);
        padding: 7px 0;
        border-bottom: 1px solid rgba(0,0,0,.1);
    }
}
.content-new{
    div{
        padding: 26px 0 16px;
        
        input{
            @include styleButton($color-pink-1,$pd-8,$pd-2 +2,$bd-1 solid rgba(0,0,0,.1) ,$radius-2);
            color: white;
            text-align: center;

        }

    }
    button{
        @include styleButton($color-white,$pd-8,$pd-5 ,$bd-1 solid white ,$radius-2);
        font-weight: 600;
        transition: all 300ms ease;
        
        &:hover {
         
            background-color: $color-pink-1;
            color: white;
        }
    }
}
@include responsive("extra-large") {
   
    .content-new{
        input{
            width: 100%;

        }
        button{
            width: 100%;
        }
    }
}
@include responsive("large") {
    .title-footer h5{
        margin-top: 50px;
    }
    .content-new{
        input{
            width: 95%;

        }
        button{
            width: 95%;
        }
    }
}
@include responsive("medium") {
    .title-footer h5{
        margin-top: 0px;
    }
    .row{
        padding: 0;
    }
}

